/*menu*/
body { 
	background-color: #f5f5f5;
	width: 100%;
 }

.navbar {
	background-color: rgba(0,0,0,0.3);
}

.nav-link:hover{
	color: #FE7911 !important; 	
}

.navbar-nav {
font-weight: 400;
text-transform: uppercase;
font-family: 'Open Sans', sans-serif;
}

#nav {
	word-spacing: 150px;
	margin-right: 50px;
	font-size: 18px;
}

@media only screen and (max-width: 991px){
	.nav-item a {
	font-size: 15px;
	}
	.nav-link:hover{
	background: #000;
	}	
}

/*carousel*/

.carousel-caption {
	padding-bottom:  400px;
	text-align: center;
	position: absolute;
}

.carousel-caption h2 {
	color: #FEDD2D;
	font-size: 70px;
	text-align: center !important;
	z-index: 20;
	white-space: nowrap;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-weight: 900;
	font-family: sans-serif;

}

.carousel-caption h3 {
    color: #FEDD2D;
	font-size: 70px;
	text-align: center !important;
	z-index: 20;
	white-space: nowrap;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-weight: 900;
	font-family: sans-serif;
}

@media only screen and (max-width: 1500px){
	.carousel-caption {	
		
	}
}

@media only screen and (max-width: 1024px){
	.carousel-caption h2 {
	font-size: 60px;
	}
	.carousel-caption h2 {
	margin-top: 40%;
	}
	.carousel-caption h3 {
	font-size: 60px;
	}
	.carousel-caption h3 {
	margin-bottom: -150px;
	}
}

@media only screen and (max-width: 991px){
	.carousel-caption h2 {
	font-size:50px;
	}
	.carousel-caption h2 {
	margin-top: 40%;
	}
	.carousel-caption h3 {
	font-size:50px;
	}
	.carousel-caption h3 {
	margin-bottom: -150px;
	}
}

@media only screen and (max-width: 768px){
	.carousel-caption h2 {
	font-size:35px;
	}
	.carousel-caption h2 {
	margin-top: 20%;
	}
	.carousel-caption h3 {
	font-size:35px;
	}
	.carousel-caption h3 {
	margin-bottom: -200px;
	}
}

@media only screen and (max-width: 575px){
	.carousel-caption h2 {
	font-size: 25px;
	}
	.carousel-caption h2 {
	margin-top: 50%;
	}
	.carousel-caption h3 {
	font-size: 25px;
	}
	.carousel-caption h3 {
	margin-bottom: -250px;
	}
}

@media only screen and (max-width: 480px){
	.carousel-caption h2 {
	font-size: 15px;
	}
	.carousel-caption h2 {
	margin-top: 70%;
	}
	.carousel-caption h3 {
	font-size:15px;
	}
	.carousel-caption h3 {
	margin-bottom: -300px;
	}	
}

@media only screen and (max-width: 415px){
	.carousel-caption h2 {
	font-size: 15px;
	}
	.carousel-caption h2 {
	margin-top: 90%;
	}
	.carousel-caption h3 {
	font-size:15px;
	}
	.carousel-caption h3 {
	margin-bottom: -350px;
	}
}

@media only screen and (max-width: 380px){
	.carousel-caption h2 {
	font-size: 15px;
	}
	.carousel-caption h2 {
	margin-top: 100%;
	}
	.carousel-caption h3 {
	font-size:15px;
	}
	.carousel-caption h3 {
	margin-bottom: -400%;
	}	
}

@media only screen and (max-width: 320px){
	.carousel-caption h2 {
	font-size: 15px;
	}
	.carousel-caption h2 {
	margin-top: 130%;
	}
	.carousel-caption h3 {
	font-size:15px;
	}
	.carousel-caption h3 {
	margin-bottom: -450px;
	}	
}

/*--Actividades--*/

.actividadess {
	color: #222222;
	margin-top: 120px;
	text-align: center;
	text-transform: uppercase;
	font-size: 30px;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	letter-spacing: 0px;
}

.actividadess:before {
	height: 3px;
    width: 65px;
    background: #56abde;
    content: "";
    bottom: -20px;
    left: 0;
    right: 0;
    margin: 0 auto;
    position: absolute;
}

@media only screen and (max-width: 1199px){
    .actividadess{
	 font-size:28px;
  } 
}

@media only screen and (max-width: 991px){
    .actividadess{ 
	font-size:26px;
 }
}

@media only screen and (max-width: 767px){
    .actividadess{  
	font-size:24px;
 
 }
 .actividadess{
	margin-top: 60px;
 }
}

@media only screen and (max-width: 479px){
    .actividadess{
	font-size:22px;
 }
}

@media only screen and (max-width: 320px){
    .actividadess{
	font-size:20px;
 }
}

/*--owl carousel--*/

.owl-carousel, owl-theme {
	margin-top: -30px;
}

.item {
	background: #fff;
}

.item:hover {
	box-shadow: 0 0 11px rgba(33,33,33,.2);
}
.cross {
	padding: 1px 35px 30px;

}
.cross h3 {
	color: #111111;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    margin-block-start: 1em;
    display: block;
    margin-bottom: 18px;
    font-weight: 500;

}

.cross p {
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	color: #666666;
	line-height: 24px;
	min-height: 200px;
	
}

/*-- Owl Nav--*/

.owl-nav {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
	color: #fff;
	font-size: 22px;
	font-weight: 1000;
	padding-top: 20px;
}

#actividades .owl-theme .owl-nav [class*=owl-] {
    background-color: #5284c2;
    width: 70px;  

}

/*--Inicio Horarios--*/ 

.horarios {
	color: #fff;
	margin-top: 50px;
	text-align: center;
	text-transform: uppercase;
	font-size: 30px;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	letter-spacing: 0px;
	padding: 0;

}

.horarios:before {
	height: 3px;
    width: 65px;
    background: #56abde;
    content: "";
    bottom: -20px;
    left: 0;
    right: 0;
    margin: 0 auto;
    position: absolute;
}


#horarioss {
	background-color: #001733;
    width: 100%;
    height: 1800px;
    padding-top: -30px;
    padding-right: 15px;
    padding-left: 15px;
    margin-top: 50px;
    margin-right: 0;
    margin-left: 0;
}

@media only screen and (max-width: 1199px){
    #oso{
	 font-size:28px;
  } 
}

@media only screen and (max-width: 991px){
    #oso{ 
	font-size:26px;
 }
}

@media only screen and (max-width: 767px){
    #oso{  
	font-size:24px;
 
 }
    #oso{
	margin-top: 60px;
 }
}

@media only screen and (max-width: 479px){
    #oso{
	font-size:22px;
 }
}

@media only screen and (max-width: 320px){
    #oso{
	font-size:20px;
 }
}

/*--Tabla de Horarios--*/

.table-responsive{
   margin-top: 60px;
}
.size {
	text-align: center;
	font-size: 15px;
}

.color {
	background: #202d3c;
	color: #c1e8ff;
	border: #203d61 solid 1px;
}

.colordos{
	background: black;
	color: #DFE1E4;
	font-size: 13px;
}

.colortres{
    color: #a8c1e0;
    font-weight: bold;
    font-size: 14px;

}

.letra {
	text-align: center;
}

@media only screen and (max-width: 1200px){
    #par{
	height: 1600px;
 }
}



/*--Fin Tabla de Horarios--*/
.card-price {
	font-size: 15px;
}

section.pricing {
	padding-bottom: 200px;
background: rgb(34, 34, 34);
}

.pricing .card {
  border: none;
  border-radius: 1rem;
  transition: all 0.2s;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.pricing hr {
  margin: 1.5rem 0;
}

.pricing .card-title {
  margin: 0.5rem 0;
  font-size: 50px;
  letter-spacing: .1rem;
  font-weight: bold;
}

.card-se{
	font-size: 48px;
	text-align: center;
	color: #56abde;
}

.period{
	font-size: 25px;
	color: #a4a4a4;
}

.fa-ul {
	color: #333333;
	text-align: center;
	margin-top: 20px;
	margin-right: 35px;
}

.teo {
	margin-left: -20px;
}

.tes {
	margin-left: -27px;
}

.teos{
	margin-left: -39px;
	text-align: center;
}

.pricing .card-price {
  font-size: 25px;
  margin-top: 50px;
  font-weight: 700;
}

.pricing .card-price .period {
  font-size: 0.8rem;
}

.pricing ul li {
  margin-bottom: 1rem;
}

.pricing .text-muted {
  opacity: 0.7;
}

.pricing .btn {
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem;
  opacity: 0.7;
  transition: all 0.2s;
}

/* Hover Effects on Card */

@media (min-width: 992px) {
  .pricing .card:hover {
    margin-top: -.25rem;
    margin-bottom: .25rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
  }
  .pricing .card:hover .btn {
    opacity: 1;
  }
}

/*-Promociones-*/


.promociones {
	color: #fff;
	margin-top: 80px;
	text-align: center;
	text-transform: uppercase;
	font-size: 30px;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	letter-spacing: 0px;
	margin-bottom: 50px;
}

.promociones:before {
	height: 3px;
    width: 65px;
    background: #56abde;
    content: "";
    bottom: 30px;
    left: 0;
    right: 0;
    margin: 0 auto;
    position: absolute;
}

@media only screen and (max-width: 1199px){
    .promociones{
	 font-size:28px;
  } 
}

@media only screen and (max-width: 991px){
    .promociones{ 
	font-size:26px;
 }
}

@media only screen and (max-width: 767px){
    .promociones{  
	font-size:24px;
 
 }
    .promociones{
	margin-top: 60px;
 }
}

@media only screen and (max-width: 479px){
    .promociones{
	font-size:22px;
 }
}

@media only screen and (max-width: 320px){
    .promociones{
	font-size:20px;
 }
}


/*--Sedes--*/
.sedes {
	color: #222222;
	margin-top: 120px;
	text-align: center;
	text-transform: uppercase;
	font-size: 30px;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	letter-spacing: 0px;
}

.sedes:before {
	height: 3px;
    width: 65px;
    background: #56abde;
    content: "";
    bottom: -20px;
    left: 0;
    right: 0;
    margin: 0 auto;
    position: absolute;
}

#tarjeta {
	
	border-radius: 200px 200px 200px 200px;
    -moz-border-radius: 200px 200px 200px 200px;
    -webkit-border-radius: 200px 200px 200px 200px;
     border: 0px solid #ff0040;
}

.card-img-top {
	border-radius: 200px 200px 1px 1px;
}

.card-title {
	text-align: center;	
}


.button-position {
	text-align: center;
}

.card-textt{
	text-align: center;
	color: #10c3d9;;
	font-size: 32px;
	font-weight: 600;
}

@media only screen and (max-width: 1199px){
    .sedes{
	 font-size:28px;
  } 
}

@media only screen and (max-width: 991px){
    .sedes{ 
	font-size:26px;
 }
}

@media only screen and (max-width: 767px){
    .sedes{  
	font-size:24px;
 
 }
 .sedes{
	margin-top: 60px;
 }
}

@media only screen and (max-width: 479px){
    .sedes{
	font-size:22px;
 }
}

@media only screen and (max-width: 320px){
    .sedes{
	font-size:20px;
 }
}


/*--Modal */

#exampleModalLongTitle {
	color: #8b8b8b;
	font-weight: 700;
}

.modal-body {
	color: #8b8b8b;
}

.polo {
	color: #17a2b8;
}

.mino {
	text-align: center;
}

.trans{
  width: 800px;
  background-color: #fff;
  display: flex;
  justify-content: center;
}

/*--Contacto--*/

#contactoo {
	height: 1200px;
}